.aside {
  grid-area: aside;
  background-color: burlywood;
}

.navList {
  list-style: none;
  padding: 0 0 0 10px;
}

.aside a {
  color: #fff;
  text-decoration: none;
}

.aside .active {
  color: gold;
}